
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_standard.cshtml";
}

<div class="container">
    <!-- Query  -->
    <div class="row">
        <div class="col-md-12">
            <h2 class="light-centered brand">create</h2>
            <form class="form-horizontal">
                <input data-role="tagsinput" type="text" class="form-control" placeholder="words that describe this content are..."/>
                <h2 class="light-centered brand">The Intellectual Exaust...</h2>
                <div contenteditable="true">Here we go. The information I have to contribute is...</div>
                <div>&nbsp;</div>
                <button class="btn btn-lg btn-primary col-md-12">Create</button>
            </form>
        </div>
    </div>
</div>


