
@{
    ViewBag.Title = "Discover";
    Layout = "~/Views/Shared/_standard.cshtml";
}

<div class="container">
        <!-- Query  -->
		<div class="row">
			<div class="col-md-4"></div>
		    <div class="col-md-4">
		        <h2 class="light-centered brand">tag exchange</h2>
		        <form class="form-horizontal">
		            <input type="text" data-role="tagsinput" class="form-control" placeholder="I want to know about..."/>
		        </form>
		    </div>
            
            
		</div>	
		<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-3 action">
                <h4 class="light-centered">&nbsp;</h4>
                <div class="container">
                    <button class="btn btn-success col-md-2">Discover</button> 
                    <div class="col-md-2"></div>
                    <button class="btn btn-primary col-md-2">Create</button>
                </div>
            </div>
        </div>
    
</div>
        


